footer {
    display: inline-block;
    @include flexbox();

    > div {
        @include flex(1 1 auto);

        dl {
            > * {
                display: block;
                padding: .5em;
            }


            dt {
                font-weight: bold;
                text-align: center;
                border-bottom: 2px solid $black;
            }
            dd {
                border-top: 2px solid $black;
                text-align: center;
            }
        }
    }
}