body.settings {
    color: #FFFFFF;
    width: 100%;

    form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        > div {
            flex: 1 0 auto;
            padding: 1em;
            width: 100%;
        }

        > div.settings{ 
            flex: 1 0 auto;
            width: 50%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: flex-start;

            h2 {
                flex: 1 0 100%;
                width: 100%;
                font-size: 1.5em;
                padding: .25em 0;
            }

            .field {
                flex: 1 0 auto;
                width: 50%;

                > label {
                    display: block;
                    width: 100%;
                }
                padding: .5em 0;
            }
        }
    }
}