
@import "colors.scss";
@import "mixins.scss";

html {
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

dl {
    margin: 0;

    dd {
        margin: 0;
    }
}

@import "header.scss";
@import "footer.scss";

.content {

}