@import url('https://fonts.googleapis.com/css?family=Courgette|Damion|IM+Fell+DW+Pica:400i|Lobster|Pacifico|Satisfy');
@import "colors.scss";
@import "mixins.scss";
@import "icons.scss";

* {
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

dl {
    margin: 0;

    dd {
        margin: 0;
    }
}

#message {
    .success {
        background-color: $success;
        color: $white;
    }
    .error { 
        background-color: $error;
        color: $white;
    }
    .warning {
        background-color: $warning;
        color: $white;
    }
}

.social {
    position: absolute;
    bottom: 0;
    right: 0;
    
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;

        li {
            &:before {
                margin-right: .5em;
                padding: .5em;
            }

            padding: .5em;
            font-size: 1.5em;
            transition: all 1s ease;
            transform: translateX(100%);

            &.display {
                transform: translateX(0%);
            }
        }

        .twitter {
            &:before {
                background-color: $twitter;
            }
        }
        .facebook {
            &:before {
                background-color: $facebook;
            }
        }
        .twitch {
            &:before {
                background-color: $twitch;
            }
        }
        .instagram {
            &:before {
                background-color: $instagram;
            }
        }
        .youtube {
            &:before {
                background-color: $youtube;
            }
        }
    }
}

.recents {
    position: absolute;
    width: 100%;
    bottom: 3.5em;
    @include flexbox();
    
    > div {
        font-size: 3em;
        @include flex(1 1 auto);
        margin: 0 .25em;

        dl {
            > * {
                display: block;
                padding: .5em;
                text-align: center;
                font-size: 1.25em;
            }

            dt {
                font-weight: bold;
                border-bottom: 2px solid $border;
                text-transform: uppercase;
            }
            dd {
                border-top: 2px solid $border;
            }
        }
    }
}

@import "header.scss";
@import "footer.scss";
@import "settings.scss";

body {
    width: 100vw;
    height: 100vh;
    background-color: $background;
    font-family:'Times New Roman', Times, serif;
    overflow: hidden;

    // &[data-font="Lobster"] {
    //     font-family: 'Lobster', cursive;
    // }
    // &[data-font="Pacifico"] {
    //     font-family: 'Pacifico', cursive;
    // }
    // &[data-font="Satisfy"] {
    //     font-family: 'Satisfy', cursive;
    // }
    // &[data-font="Courgette"] {
    //     font-family: 'Courgette', cursive;
    // }
    // &[data-font="Damion"] {
    //     font-family: 'Damion', cursive;
    // }
    // &[data-font="IM Fell DW Pica"] {
    //     font-family: 'IM Fell DW Pica', serif;
    // }

    .content {
        position: relative;
        height: 90vh;
        width: 100vw;
        @include flexbox();
        flex-direction: row;
        flex-wrap: wrap;

        > div {
            height: 90%;
            align-self: center;
            margin: 0 1em;
        }

        .video {
            @include flex(0 0 calc(80% - 4em));
            // background-color: $blue;
            width: 80%;
        }

        .right {
            @include flex(0 0 20%);
            // background-color: $purple;
            display: inline-block;
            width: 20%;
        }
    }
}