html {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }
  dl dd {
    margin: 0; }

footer {
  display: inline-block;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  footer > div {
    -webkit-box-flex: 1 1 auto;
    -moz-box-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto; }
    footer > div dl > * {
      display: block;
      padding: .5em; }
    footer > div dl dt {
      font-weight: bold;
      text-align: center;
      border-bottom: 2px solid #000000; }
    footer > div dl dd {
      border-top: 2px solid #000000;
      text-align: center; }
