@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "reset.scss";
@import "colors.scss";
@import "icons.scss";

body {
    background-color: $background;
    color: $text;
}

.main {
    position: relative;
    width: 100vw;
    height: 100vh;

    .settings {
        height: 100%;
        width: 100%;
    }
}